body {
    font-family: "Roboto", sans-serif;
    color: #fafafa;
}


/*----------NAVBAR---------*/



/*----------CAROUSEL---------*/

.carousel-container {
    padding-top: 56px;
}



/*----------ABOUT US---------*/

.about-container {
    position: relative;
    margin-top: 0;
    background-attachment: fixed;
    background-image: url("../images/catcoffee.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

.about-title {
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-top: 50px;
}

.about-p {
    font-size: 1em;
    margin: 30px;
    
}
