body {
    font-family: "Roboto";
}


/*----------NAVBAR---------*/



/*----------CAROUSEL---------*/

.carousel-container {
    padding-top: 56px;
}

/*----------ABOUT US---------*/

h2 {
    text-transform: uppercase;
}
