body {
    font-family: "Roboto", sans-serif;
    color: #fafafa;
}

/*----------Section title---------*/
.sec-title {
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-top: 50px;
}


/*----------NAVBAR---------*/



/*----------CAROUSEL---------*/

.carousel-container {
    padding-top: 56px;
}



/*----------ABOUT US---------*/

.about-container {
    position: relative;
    margin-top: 0;
    background-attachment: fixed;
    background-image: url("../images/catcoffee.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.about-p {
    font-size: 1em;
    margin: 30px;
}

/*----------OUR TEAM---------*/

.team-container {
    background-color: #464646;
}

.team-p {
    font-size: 1em;
    margin: 30px;
}
